.modal__save-button {
  min-width: 358px;
  background: #000000;
  align-self: stretch;
  margin-top: 18px;
  padding: 15px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
}

@media screen and (max-width: 425px) {
  .modal__save-button {
    min-width: 238px;
    padding: 14px 0;
    margin-top: 16px;
  }
}

.modal__save-button:hover {
  opacity: 0.8;
}
