.element__delete-button {
  width: 18px;
  height: 19px;
  padding: 0;
  margin: 0;
  align-self: center;
  cursor: pointer;
  background-image: url(../../../images/delete-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;
  /* box-sizing: content-box; */
  position: absolute;
  top: 18px;
  right: 15px;
}

.element__delete-button:hover {
  opacity: 0.6;
}
