.profile__image {
  max-width: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 425px) {
  .profile__image {
    align-self: center;
  }
}

/* @media screen and (max-width: 320px) {
  .profile__image {
    align-self: center;
  }
} */
