.profile {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .profile {
    max-width: 680px;
  }
}

@media screen and (max-width: 720px) and (min-width: 540px) {
  .profile {
    max-width: 525px;
  }
}

@media screen and (max-width: 539px) {
  .profile {
    max-width: 425px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 424px) and (min-width: 321px) {
  .profile {
    max-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    padding-top: 42px;
  }
}
