.profile {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .profile {
    max-width: 282px;
    margin: 0 auto;
    padding-top: 42px;
    display: flex;
    flex-direction: column;
  }
}
