.profile__subheading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__subheading {
    font-size: 16px;
    line-height: 17px;
  }
}

@media screen and (max-width: 425px) {
  .profile__subheading {
    /* font-size: 14px; */
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .profile__subheading {
    font-size: 14px;
    text-align: center;
  }
}
