.profile__main-container {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .profile__main-container {
    width: 100%;
    gap: 10px;
  }
}

@media screen and (max-width: 425px) {
  .profile__main-container {
    max-width: 320px;
    flex-direction: column;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__main-container {
    max-width: 282px;
    flex-direction: column;
  }
}
