.form__input {
  min-width: 358px;
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 320px) {
  .form__input {
    min-width: 238px;
  }
}
