.modal__body {
  position: relative;
  max-width: 430px;
  padding: 34px 36px 36.5px;
  border-radius: 10px;
  color: #1e1e1e;
  background-color: #fefefe;
}

@media screen and (max-width: 540px) {
  .modal__body {
    max-width: 300px;
    padding: 25px 22px;
  }
}

@media screen and (max-width: 425px) {
  .modal__body {
    max-width: 282px;
  }
}
