.profile__info {
  max-width: 415px;
  gap: 18px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 90% 10%;
}

@media screen and (max-width: 1024px) {
  .profile__info {
    gap: 10px;
    align-self: center;
  }
}

@media screen and (max-width: 720px) {
  .profile__info {
    max-width: 400px;
    align-self: center;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    max-width: 224px;
  }
}
