.footer {
  max-width: 318px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding: 0 762px 60px 200px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    font-size: 16px;
    padding: 0 500px 50px 100px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 262px 50px 50px;
  }
}
@media screen and (max-width: 425px) {
  .footer {
    padding: 0 62px 50px 50px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    padding: 0 19px 36px;
  }
}
